// colors

$primary: #050709;
$secondary: #00bfff;
$footer: #046b99;

$black: #000;
$white: #fff;
$silver: #c0c0c0;
$grey: rgb(128, 128, 128);

$text: #050709;
$link: rgb(0, 0, 238);

$header-text: #2ecc51;
$sidebar-text: #0000b5;
$footer-text: #c9f227;
