// elements
html {
  --font-size-sm: clamp(0.7rem, 0.26vw + 0.63rem, 0.84rem);
  --font-size-base: clamp(0.88rem, 0.45vw + 0.76rem, 1.13rem);
  --font-size-md: clamp(1.09rem, 0.74vw + 0.91rem, 1.5rem);
  --font-size-lg: clamp(1.37rem, 1.15vw + 1.08rem, 2rem);
  --font-size-xl: clamp(1.71rem, 1.74vw + 1.27rem, 2.66rem);
  --font-size-xxl: clamp(2.14rem, 2.57vw + 1.49rem, 3.55rem);
  font-size: var(--font-size-base);
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: 500;
  line-height: calc(120% + 0.75rem);
  font-variation-settings: "wght" 500, "wdth" 85;
}

body {
  font-family: "IBM Plex Sans Roman", Helvetica, Arial, sans-serif;
  color: $text;

  &.modal-open {
    overflow: hidden;
  }
}

p {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  line-height: calc(130% + 0.5rem);
}

i,
em {
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
}

a {
  color: $link;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  color: $white;
  background-color: $link;
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  border: 0;

  &:hover {
    background-color: darken($link, 10%);
  }

  &:focus-visible {
    outline: 2px solid #b3000f;
  }
}

input[type=search] {
  border: 2px inset;
	cursor: pointer;
	display: block;
	word-spacing: 20px;
  border-radius: 2rem;
  padding-left: 32px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --%3E%3Cpath d='M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z'/%3E%3C/svg%3E");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 10px center;
  outline: 0;
  outline-offset: 0;

  &:focus {
    outline: 0;
    outline-offset: 0;
  }

  &:focus-visible {
    outline: 1px solid rgba(255,255,255,0.75);
    outline-offset: 0;
  }
}
