// menu
.menu {
  padding-left: 0;

  li {
    list-style: none;
    margin-bottom: 0.75em;
  }
}

@media all and (max-width: 767px) {
  .menu {
    margin: 0;

    li {
      margin: 0.75em 0;
    }
  }
}
