// nav
.nav {
  padding-left: 0;

  li {
    margin: 0.25em 5px;
    list-style: none;

    a {
      padding: 0.5em 1em;
      border-radius: 4px;
    }
  }
}

@media all and (min-width: 768px) {
  .nav {
    text-align: center;

    li {
      display: inline-block;
      list-style: unset;
    }
  }
}

#nav-toggle {
  display: flex;
  flex-direction: column;
  width: 50px;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-right: 1rem;
  z-index: 200;

  span {
    background: $white;
    border-radius: 10px;
    height: 5px;
    margin: 5px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    &:nth-of-type(1) {
      width: 50%;
    }

    &:nth-of-type(2) {
      width: 100%;
    }

    &:nth-of-type(3) {
      width: 75%;
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked {
      ~ span {
        &:nth-of-type(1) {
          transform-origin: bottom;
          transform: rotatez(45deg) translate(8px, 0px);
        }

        &:nth-of-type(2) {
          transform-origin: top;
          transform: rotatez(-45deg);
        }

        &:nth-of-type(3) {
          transform-origin: bottom;
          width: 50%;
          transform: translate(23px, -8px) rotatez(45deg);
        }
      }
    }
  }
}

@media all and (max-width: 767px) {
  #root {
    & > header {
      & > nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        font-size: 200%;
        z-index: 100;

        &.toggle-nav {
          display: none;

          &.is-visible {
            display: block;
          }
        }
      }
    }
  }
}
